/* #region color palette */
:root{
    --dash-lighter: rgba(248, 249, 250, 1);
    --dash-light: rgba(229, 229, 229, 1);
    --dash-notice: rgba(255, 143, 0, 1);
    --dash-dark: rgba(91, 88, 88, 1);
}


/* #endregion color palette */


/* #region debug */

/* .debug header{
    height: 100px;
    background-color: aliceblue;
} */

.debug #left-sidebar{
    background-color: lightskyblue;
    border: 1px solid black;
}

.debug #top-banner{
    height: 150px;
    border: 1px solid black;
    background-color: lightsalmon;
}

.debug #main-sections{
    background-color: lightgray;
}

.debug .left-sections{
    height: 600px;
    border: 1px solid black;
    background-color: aquamarine;
}

.debug .right-sections{
    height: 600px;
    border: 1px solid black;
    background-color: rgb(241, 162, 222);
}

.debug .card{
    border: 1px solid black;
    height: 300px;
}

/* #endregion debug */

/* #region common rules */
body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

#right-main{
    overflow-y: auto;
}

#main-sections{    
    height: 100%;
}

/* #endregion common rules */


/* #region header */

#site_header{
    background-color: var(--dash-lighter);

    & .nav-center .form-control, .input-group-text{
        background-color: var(--dash-light);
    }

    & .nav-link:has(.fa-bell){
        color: var(--dash-notice);
    }
}

.nav-link:has(.fa-bell)::after{
    display: none;
}
